<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to use IR transmitter -->
    <uses-permission android:name="android.permission.TRANSMIT_IR" android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Declare IR feature -->
    <uses-feature android:name="android.hardware.consumerir" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TVRemote"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/configure_remote"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>

